.header{
    background-image: url('home-bgd.jpg') ;
    padding-bottom: 200px;
    padding-left: 30px;
    padding-top: 60px;

}

.search-bg{
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    border-radius: 10px;
}

.about{
    margin-top: 10px;
}
